<!--<div class="sidenav">
	<div class="login-main-text">
	   <h2>Application<br> Login Page</h2>
	   <p>Login or register from here to access.</p>
	</div>
 </div>-->
 <nav class="sidenav bg-dark">
 </nav>
 <br><br><br>
<h1 style="margin-left:30% ;" class="text-dark">Veuillez entre votre coordonnées</h1>
 <div class="main">
	<div class="col-md-6 col-sm-12">
	   <div class="login-form">
		  <form name="f" (ngSubmit)="onSubmit(f)" #f="ngForm">
			 <div class="form-group">
				<label>User Name</label>
				<input type="text" id="us" name="us" pattern="[A-Z][a-zA-Z]+" [(ngModel)]="ff" required #nom="ngModel" class="form-control" placeholder="User Name">
			 </div>
			 <div *ngIf="nom.errors?.pattern && nom.dirty" class="alert alert-danger">
                Le libellé doit commencer par une majuscule suivie d'au moins 1 caractère 
            </div>
			 <div class="form-group">
				<label>Password</label>
				<input type="password" id="mdp" class="form-control" [(ngModel)]="mot" #pass="ngModel" name="mdp" required placeholder="Password">
			 </div>
			 <div *ngIf="pass.errors?.pattern && pass.dirty" class="alert alert-danger">
                Le libellé doit commencer par une majuscule suivie d'au moins 1 caractère 
            </div>
			
			<input type="submit" #yikes routerLink="/aiesec" [disabled]="f.invalid || onSubmit(f)==false" class="btn btn-black" value="Login"/>
	
		  </form>
		  
	   </div>
	</div>
 </div>
 
