<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
       <!-- <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/login">Login</a></li>-->
       <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/login">Déconnecter</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/aiesec">Accueil</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/aie">Afficher Les Articles</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/rechercherarticle">Chercher Un Article</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/ajouterproduit">Ajouter Un Article</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/changerarticle">Modifier Un Article</a></li>
    </ul>
</nav>
