<div class="container">
    
    <div class="card" style="width:350px">
      <img class="card-img-top" [src]="imag" style="width:100%" >
      <div class="card-body">
        <h4 class="card-title"> {{libel}}</h4>
        <p class="card-text">L'identifiant:{{id}}</p>
        <p class="card-text">Prix:{{prix}}</p>
        <p class="card-text">Date de remise en vente : {{dat|date}}</p>
        <p class="card-text">Desponibilité : {{booleen}}</p>
        <button class="btn btn-dark text-white" data-toggle="modal" data-target="#exampleModal">Passer Commande</button>
       
      
      </div>
    </div>
    
    </div>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Votre Commande Passée Avec Succés
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" routerLink="/aie" data-dismiss="modal">Aller Au Menu</button>
        </div>
      </div>
    </div>
  </div>